{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <h3 itemprop="name">
{% if author.avatar contains 'http' %}
	<img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% else %}
	<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo">
{% endif %}

  <br />

  <a href="mailto:tamas@tklengyel.com"><i class="fa fa-fw fa-envelope-square"></i></a>
  <a href="https://github.com/tklengyel"><i class="fa fa-fw fa-github"></i></a>
  <a href="https://twitter.com/tklengyel"><i class="fa fa-fw fa-twitter-square"></i></a>
  <a href="https://de.linkedin.com/in/tklengyel/en"><i class="fa fa-fw fa-linkedin"></i></a>

  <br />

  <img src="https://www.eff.org/files/2016/11/01/2017mb.png">

  <br />

<a class="twitter-timeline" href="https://twitter.com/tklengyel" data-widget-id="564505825306501120" width="300" height="500" data-tweet-limit="5" data-chrome="nofooter transparent noscrollbar noheader">Tweets by @tklengyel</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</h3>

</div>
